/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan. 16, 2022, 8:40:31 a.m.
    Author     : parso
*/

body{
    
    
}
h1{
    color: grey;
    text-align: left;
    
}
.formDiv {
    background-color: lightpink;
    text-align: center;
    border: 5px outset grey;
    padding: 50px;
    margin: 20px;
    width: 350px;
    margin-left: 10%;
    margin-top: 5%;
    
}
#B{
    margin-left: 160px;
    background-color: grey;
    color: white;
}

a{
   margin-left: 160px; 
}

a:link{
    color: grey;
}

a:visited{
    color:darkcyan;
}

a:hover{
    color:black;
    transform: scale(1.5);
}

p{
    font-size: 20px;
}